%ul
  %li{ class: 'message_li', data: { id: "#{message.id}" }}
    .user-message
      %p.user-name
        = message.user.name
      %p.datetime
        = message.created_at.strftime('%Y/%m/%d %H:%M:%S')
    .message-body
      = message.content
      %br
      = image_tag message.image.url, class: 'msg-img' unless message.image.url.nil?
