- provide(:title, "#{@group.name} ")
.chat-main
  .chat-header
    .group-user
      %h4
        %span.group-name-main
          = @group.name
      %p
        %span.members
          Members:
          - @group.users.each do |user|
            = user.name
    .edit
      %p
        = link_to edit_group_path(@group) do
          Edit
  .chat-body
    = render partial: "message", collection: @messages
    .chat-footer
      = form_for(@message, url: group_messages_path(@group), method: :post) do |f|
        .send-message
          = f.text_area :content, placeholder: "type a message"
          = f.label :image do
            %i.fa.fa-image
          = f.file_field :image, hidden: true
          / area-hidden="true"でスクリーンリーダーの読み上げを回避
          = submit_tag :Save, data: { disable_with: "送信中..." }
