!!!
%html
  %head
    %meta{ content: "text/html", charset: "UTF-8", http: { equiv: "Content-Type" }}
    %title
      - unless yield(:title).blank?
        #{yield :title} | ChatSpace
      - else
        ChatSpace
    = stylesheet_link_tag    'application', media: 'all', data: { turbolinks: { track: true }}
    = javascript_include_tag 'application', data: { turbolinks: { track: true }}
    = csrf_meta_tags
    - if notice
      %p{ class: 'notice' }
        = notice
    - if alert
      %p{ class: 'alert' }
        = alert
  %body
    .chat-group-form
      %h1
        = yield :form_title
      = form_for(@group, html: { id: "#{yield :form_id}", class: "#{yield :form_class}", accept: { charset: "UTF-8" }, action: "#{yield :form_path}", method: "#{yield :form_method}" }) do |f|
        %ul
          %li.chat-group-form__field
            .chat-group-form__field--left
              = f.label :name, :グループ名, class: "chat-group-form__label"
            .chat-group-form__field--right
              = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください", autofocus: "autofocus"
          %li.chat-group-form__field
            .chat-group-form__field--left
              = f.label :group, :チャットメンバーを追加, class: "chat-group-form__label"
            .chat-group-form__field--right
              .chat-group-form__search
                %input.chat-group-form__input{ type: 'text', name: 'keyword', placeholder: '追加したいユーザー名を入力してください' }
          %li.chat-group-form__field
            .chat-group-form__field--left
            .chat-group-form__field--right
              .chat-group-form__result
                %ul
          %li.chat-group-form__field
            .chat-group-form__field--left
              = f.label :group, :チャットメンバー, class: "chat-group-form__label"
            .chat-group-form__field--right
              .chat-group-form__member
                %ul
                  %li
                    - @users.each do |user|
                      = user.name
          %li.chat-group-form__field
            .chat-group-form__field--left
            .chat-group-form__field--right
              = submit_tag :Save, class: "chat-group-form__action-btn", data: { disable_with: "送信中..." }
